/* * {
  border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Text with this class cannot be selected by user */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body {
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header header"
        "sidebar content";
    font-family: 'Roboto', sans-serif;
    color: #1f1f2f;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


/* HEADER STARTS */
header {
    grid-area: header;
    font-size: 1.5rem;
    color: white;
    background-color: #db4c3f;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

#hide-menu-btn {
    font-size: 1.5rem;
    border: none;
    color: white;
    background-color: inherit;
}

#hide-menu-btn:hover {
    cursor: pointer;
    background-color: #e26f65;
}
/* HEADER ENDS */


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* SIDEBAR STARTS */
.sidebar {
    grid-area: sidebar;
    background-color: #fafafa;
    width: 300px;
    overflow-x: hidden;
    position: absolute;
    top: 2.75rem;
    height: 100%;
    z-index: 1;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sidebar.hidden {
    width: 0;
}

/* Must create an inner container in sidebar otherwise
the padding is still displayed when sidebar is hidden */
.sidebar-inner-container {
    padding: 2rem 1rem;
}

.sidebar-tasks-item-link {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.sidebar-tasks-item-link:hover,
.sidebar-projects-item-link:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.fa-inbox {
    color: #4a87e4;
}

.fa-calendar-day {
    color: #88c397;
}

.fa-calendar-week {
    color: #8d62d0;
}

.sidebar-tasks-item-count {
    margin-left: auto;
    color: #aaaaaa;
    font-size: 0.9rem;
    align-self: center;
}

.sidebar-projects {
    margin-top: 2rem;
}

.projects-title-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
}

.projects-title-container,
.hr-line {
    padding: 0 1rem;
}

.projects-add-btn {
    color: #8b8b8b;
}

.projects-add-btn:hover {
    cursor: pointer;
    color: #db4c3f;
}

.sidebar-projects-item-link {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 1rem;
    margin-left: 1rem;
}

.sidebar-projects-options {
    font-size: 0.8rem;
    padding: 0 1rem;
}

.sidebar-projects-item {
    position: relative;
}

.dropdown-menu {
    cursor: pointer;
    font-size: 0.8rem;
    display: block;
    position: absolute;
    background-color: white;
    border: 1px solid #dddddd;
    left: 13rem;
    top: 1.7rem;
    overflow: auto;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    z-index: 1;
}
  
.dropdown-menu div {
    display: block;
    padding: 0.5rem 1rem;
}
  
.dropdown-menu div:hover {
    background-color: #dddddd;
}


/* SIDEBAR - PROJECT FORM STARTS */
.project-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem 0.75rem 0.75rem 1.8rem;
}

#projectName {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 0.9rem;
    appearance: none;
    padding: 0.4rem 0.5rem;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

#projectName:focus {
    outline: none;
    border-color: #999;
}

.form-project-btn-container,
.form-btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.cancel-project-form-btn,
.add-project-form-btn {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
}

.cancel-project-form-btn,
.cancel-task-form-btn {
    background-color: #f5f5f5;
}

.cancel-project-form-btn:hover,
.cancel-task-form-btn:hover {
    background-color: #e5e5e5;
}

.add-project-form-btn,
.add-task-form-btn  {
    color: white;
    background-color: #f1b7b2;
}

.add-project-form-btn:hover,
.add-task-form-btn:hover {
    background-color: #db4c3f;
}
/* SIDEBAR - PROJECT FORM ENDS */
/* SIDEBAR ENDS */


/* CONTENT STARTS */
.content {
    grid-area: content;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    transition: margin-left 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.content.full-width {
    transition: margin-left 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* Select .overlay only and not .overlay.off */
[class="overlay"] {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    top: 2.75rem;
}

.content-inner-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    margin: 0;
}

.add-task-container {
    color: #8b8b8b;
    padding-top: 0.5rem;

}

.add-task-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.add-task-btn:hover {
    color: #dd4b39;
}

.add-task-btn::before {
    /* Add '+' before 'Add task' */
    font-family: fontAwesome;
    content: "\f055\00a0";
    font-size: 1.25rem;
    margin-right: 0.4rem;
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-state-img {
    background-image: url('./img/empty1.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
}

.empty-state-header,
.empty-state-txt {
    text-align: center;
}


/* CONTENT - NEW TASK FORM STARTS */
.task-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem 0;
}

.task-form-editor {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.task-form-editor:focus-within {
    border-color: #999;
}

.task-form-editor input[type=text],
.task-form-editor textarea {
    appearance: none;
    border: 1px solid transparent;
}
  
.task-form-editor input[type=text]:focus,
.task-form-editor textarea:focus,
.task-form-editor input[type=date]:focus {
    outline: none;
}

#taskName {
    font-size: 0.9rem;
}

#taskDescription {
    resize: none;
}

#taskDescription,
#taskDueDate {
    font-family: "Helvetica", "Arial", sans-serif;
}

#taskDueDate {
    color: #8b8b8b;
    align-self: flex-start;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 0.5rem 0.25rem;
}

#taskDueDate:focus {
    color: #1f1f2f;
}

.cancel-task-form-btn,
.add-task-form-btn {
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
}
/* CONTENT -NEW TASK FORM ENDS */


/* CONTENT - TASK LIST STARTS */
.task-list-item-container {
    display: grid;
    justify-content: space-between;
    grid-template-areas: 
        "task taskOptions"
        "taskDueDate taskDueDate";
    font-size: 0.9rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e5e5e5;
}

/* Don't display task container as grid when editing a task */
.task-list-item-container:has(.task-form) {
    display: initial;
}

.task {
    grid-area: task;
}

.task-label {
    display: flex;
    align-items: center;
}

/* Custom checkbox starts
Source: https://www.sliderrevolution.com/resources/css-checkbox/ (task description added) */
.task-label,
.task-description {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.task-label span,
.task-description span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.task-label span:first-child {
    position: relative;
    width: 20px;
    height: 20px;
    /* Add min width to avoid circle being squashed on mobile when task name too long */
    min-width: 20px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #B9B8C3;
    transition: all 0.2s ease;
}

.task-label span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 3px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.task-label span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: lightgrey;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}

.task-label span:last-child {
    margin-left: 8px;
}

.task-label span:last-child:after,
.task-description span:last-child:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #B9B8C3;
    transform-origin: 0 0;
    transform: scaleX(0);
}

.task-label:hover span:first-child {
    border-color: grey;
}

.task-checkbox:checked + .task-label span:first-child {
    border-color: grey;
    background: grey;
    animation: check 0.6s ease;
}

.task-checkbox:checked + .task-label span:first-child svg {
    stroke-dashoffset: 0;
}

.task-checkbox:checked + .task-label span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}

.task-checkbox:checked + .task-label span:last-child,
.task-checkbox:checked ~ .task-description span:last-child {
    color: #B9B8C3;
    transition: all 0.3s ease;
}

.task-checkbox:checked + .task-label span:last-child:after,
.task-checkbox:checked ~ .task-description span:last-child:after {
    transform: scaleX(1);
    transition: all 0.3s ease;
}

@keyframes check {
  50% {
    transform: scale(1.2);
  }
}
/* Custom checkbox ends */

.task-description {
    font-size: 0.8rem;
    color: #8b8b8b;
    margin-left: 1.8rem;
}

.task-due-date-container {
    grid-area: taskDueDate;
    display: flex;
    align-items: center;
    color: #8b8b8b;
    gap: 0.3rem;
    margin-left: 1.8rem;
    margin-top: 0.5rem;
}

.task-due-date {
    font-size: 0.8rem;
}

.task-option-container {
    grid-area: taskOptions;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1rem;
    margin-left: 1.25rem;
}

.task-option-trashcan,
.task-option-edit,
.task-option-calendar {
    cursor: pointer;
    transition: all .07s ease;
}

.task-option-trashcan:hover,
.task-option-edit:hover,
.task-option-calendar:hover {
    transform: scale(1.2);
}
/* CONTENT - TASK LIST ENDS */
/* CONTENT ENDS */


@media only screen and (min-width: 700px) {
    .sidebar {
        position: initial;
    }

    .content:not(.full-width) {
        background-color: inherit;
    }

    [class="overlay"] {
        display: none;
    }

    .content-inner-container {
        width: 50%;
    }

    .empty-state-img {
        background-size: cover;
        min-height: 400px;
    }

    .task-list-item-container {
        grid-template-columns: 1fr auto auto;
        grid-template-areas: 
            "task taskDueDate taskOptions";
    }

    .task-due-date-container {
        color: inherit;
        margin-left: 1.25rem;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1400px) {
    .empty-state-img {
        background-size: contain;
    }
}