/* * {
  border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #5a5a56;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 300px 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header header"
        "sidebar editor";
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    grid-area: header;
    font-size: 1.5rem;
    color: white;
    background-color: #db4c3f;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

#hide-menu-btn {
    font-size: 1.5rem;
    border: none;
    color: white;
    background-color: inherit;
}

#hide-menu-btn:hover {
    cursor: pointer;
    background-color: #e26f65;
}

.sidebar {
    grid-area: sidebar;
    background-color: #fafafa;
}

.sidebar.hidden {
    display: none;
}

.editor {
    grid-area: editor;
}